# For documentation
jupyter-book
matplotlib
numpy
sphinx-inline-tabs
sphinx-examples
sphinx-proof
sphinx-hoverxref
# for the package
structlog>=24.1.0
pandas
numpy
typing
isort==5.13.2
black==24.8.0
torch>=2.2.2
einops>=0.8.0
tqdm==4.66.5
torchvision
matplotlib
scikit-learn
datasets
pre-commit
category_encoders
scikit-learn
visions
pytest
pydantic==2.5.2
rdt>=1.12.2
spacy>=3.7.5
visions
faker
gretel_synthetics